<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Book A Call</h1>
        <form class="contact-form" action="/success" method=""POST></form>
        <div class="form" title="Book A Call">
            <form action="submit.php" method="post">
              <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
              </div>
              <br>
              <div>
                <label for="number">Number:</label>
                <input type="tel" id="number" name="number" required>
              </div>
              <br>
              <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
              </div>
              <button type="submit">Submit</button>
            </form>
          </div>
          
        
    
    </main>
</body>
</html>